#description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  background: v(blue);
  margin-top: 20px;
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
  font-size: 0.9em;
  color: white;
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  a {
    color: v(blue);
    background:white;
    padding: 1px 5px;
    border-radius: 4px;
    font-size: 0.9em;
  }
  ul.interrests {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: left;

    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    li {
      position: relative;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3px;
      flex-direction: column;
      span.label {
        font-size: 0.7em;
        color: v(blue);
        border-radius: 4px;
        font-weight: bold;
      }
      span.note-container {
        width: 100px;
        height: 5px;
        background: rgb(218, 218, 218);
        border-radius: 10px;
        margin: 0.5rem 0 0 0;
        display: block;
        .note-value {
          height: 5px;
          background: v(blue);
          display: block;
          border-radius: 10px;
        }
      }
    }
  }
}
