.sections {
    flex-direction: column;
    align-items: flex-start;
    grid-area: content;
    font-size: 1.3em;

    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-size: cover;
      padding-top: 80px;
      .section-center {
        width: 1200px;
      }
      a {
        text-decoration: none;
      }
      img {
        max-width: 100%;
      }
    }
  }

  @import "section1";
  @import "section2";
  @import "section3";

