#section-2 {
  .section-center {
    
    .exp-item-large {
      margin: 0;
      overflow: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 20px;
      background: #2c3049;
      margin-top: 20px;
      padding: 2rem;
      position: relative;

      .icon-box {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.7rem;
        svg {
          width: 1.6rem;
          height: 1.6rem;
          margin-left: 0.5rem;
        }
      }
      
      h2 {
        margin: 0;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          line-height: 2rem;
          padding-left: 1.3rem;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0.1rem;
            top: 0.63rem;
            width: 0.7rem;
            height: 0.7rem;
            background: #5770ff;
            border-radius: 50%;
          }
          .icon-box {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0.7rem;
            svg {
              width: 1.6rem;
              height: 1.6rem;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    ul.exp-item-list {
      margin: 0;
      list-style: none;
      display: flex;
      padding: 20px 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      li {
        overflow: visible;

        a.exp-item,
        span.exp-item {
          padding: 2rem;
          margin: 0;
          overflow: hidden;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 20px;
          background: #2c3049;
          position: relative;

          .icon-box {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0.7rem;
            svg {
              width: 1.6rem;
              height: 1.6rem;
              margin-left: 0.5rem;
            }
          }

          p {
            margin: 0;
          }

          svg {
            height: 20px;
            width: 20px;
          }

          h2 {
            margin: 10px 0;
          }

          .location {
            background: #5770ff;
            border-radius: 2rem;
            padding: 10px 20px;
            margin: 20px 0 0 0;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}
