@media screen and (max-width: 1230px) {
  .section {
    padding: 2rem;

    .section-center {
        width: 100% !important;
    }

    .description-container {
      flex-direction: column;
    }

    .exp-item-large {
      width: 100%;
    }
  }
}

@media screen and (max-width: 750px) {
  .section {
    ul.exp-item-list {
      display: flex !important;
      flex-direction: column;
    }
  }
}
