:root {
  --space0: 0.5rem;
  --space1: 1rem;
  --space2: 2rem;
  --space3: 2.5rem;

  --border-radius-1: 0.5rem;

  $primary-color: #ffffff;
  $accent-color: rgb(85, 207, 255);
  $background-color: rgb(8, 36, 47);

  --primary-color: #{$primary-color};
  --accent-color: #{$accent-color};
  --background-color: #{$background-color};

  --lighten-primary-color: #{rgba($primary-color, 0.1)};
}
