:root {
  --space0: 0.5rem;
  --space1: 1rem;
  --space2: 2rem;
  --space3: 2.5rem;
  --space4: 4rem;

  --border-radius-1: 0.5rem;

  $primary-color: #242424;
  $accent-color: rgb(0, 182, 91);
  $background-color: rgb(255, 255, 255);

  --primary-color: #{$primary-color};
  --accent-color: #{$accent-color};
  --background-color: #{$background-color};
}
