* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
}

h1, h2, h3 {
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  &:visited {
    color: var(--primary-color);
  }
  &:active {
    color: var(--primary-color);
  }
}

.title-icon {
  color: var(--accent-color);
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space2);
  margin-bottom: 20vh;
  padding: var(--space2);
}

#app {
  font-family: Roboto;
}
