nav.site-navigation {
  overflow: hidden;
  width: 100%;

  .nav-content {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 0.5rem;

    .social-grid {
      display: flex;
      align-items: stretch;

      .grid-item {
        font-size: 1em;
        text-decoration: none;
        padding: 0;
        width: 60px;
        display: flex;
        align-items: center;
        transition: width 0.3s;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 5px;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          svg {
            width: 25px;
            height: 25px;
          }
          span {
            margin: 5px 0;
          }
        }

        &:hover {
          width: 70px;
        }

        &.item-darkmode {
          background-color: rgb(107, 107, 107);
          margin-right: 15px;
          width: auto;
          padding: 0 15px;
          cursor: pointer;
          &.is-dark {
            background-color: v(text-color);
            color: v(blue);
          }
          &.is-light {
            background-color: v(text-color);
            color: v(background-color);
          }
        }

        &.item-mail {
          background-color: #2ECC71;
        }

        &.item-linkedin {
          background-color: #0177B5;
        }

        &.item-github {
          background-color: #323131;
        }

        &.item-twitter {
          background-color: #1DA1F2;
        }
      }
    }
  }
}
