
@function v($var, $fallback: null) {
  @if($fallback) {
      @return var(--#{$var}, #{$fallback});
  }
  @else {
      @return var(--#{$var});
  }
}

:root {
  // base
  --color-mode: 'light';
  --text-color : #000000;
  --items-background-color: #e6e6e6;
  --items-accent-color: #f3f3f3;
  --background-color: #ffffff;
  --blue: #0099ff;
  --purple: #00bbc2;
}

@media (prefers-color-scheme: dark) {
  :root {
      --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --text-color : #ffffff;
    --items-background-color: #2c3049;
    --items-accent-color: #25293f;
    --background-color: #15202B;
    --blue: #0099ff;
    --purple: #00ffbf;
  }
}

[data-user-color-scheme='dark'] {
  --text-color : #ffffff;
  --items-background-color: #2c3049;
  --items-accent-color: #25293f;
  --background-color: #15202B;
  --blue: #0099ff;
  --purple: #00ffbf;
}
