
@function v($var, $fallback: null) {
  @if($fallback) {
      @return var(--#{$var}, #{$fallback});
  }
  @else {
      @return var(--#{$var});
  }
}

:root {
  // base
  --text-color: #2e2e2e;
  --items-background-color: #d7d6d6;
  --items-accent-color: #e9e9e9;
  --background-color: #eeeeee;
  --primary: #0099ff;
  --secondary: #00bbc2;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme]) {
    --text-color: #e3e3e3;
    --items-background-color: #001e30;
    --items-accent-color: #002840;
    --background-color: #00101a;
    --primary: #09f;
    --secondary: #00ffbf;
  }
}

[data-user-color-scheme='darkblue'] {
  --text-color: #e3e3e3;
  --items-background-color: #001e30;
  --items-accent-color: #002840;
  --background-color: #00101a;
  --primary: #09f;
  --secondary: #00ffbf;
}

[data-user-color-scheme='lightpurple'] {
  --text-color: #2e2e2e;
  --items-background-color: #d7d6d6;
  --items-accent-color: #e9e9e9;
  --background-color: #eeeeee;
  --primary:  #c300ff;
  --secondary: rgb(255, 0, 98);
}

[data-user-color-scheme='darkpurple'] {
  --text-color: #e3e3e3;
  --items-background-color: #2a0b32;
  --items-accent-color: #3d1148;
  --background-color: #19061e;
  --primary: #c300ff;
  --secondary: rgb(255, 0, 98);
}

[data-user-color-scheme='darkoled'] {
  --text-color: #e3e3e3;
  --items-background-color: #101010;
  --items-accent-color: #080808;
  --background-color: #000000;
  --primary: rgb(255, 196, 0);
  --secondary: #ff3300;
}